/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body, #hangman {
	width: 100%;
	height: 100%;
	margin: 0;
}
   
html {
	font: 32pt 'myriad pro'
}
p {
	color: #5d6a6c;
	text-shadow: 1px 1px white;
}

.small {
  font-size: .5em;
  font-weight: lighter;
  margin: 9px;
}

li {
  list-style: none;
}

.indicator p {
    display: block;
    float: left;
    padding: 0 7pt;
	position: relative;
	transition: all ease-out 250ms;
}
/*
.indicator p::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-top: 13px red solid;
    border-left: 11px transparent solid;
    border-right: 11px transparent solid;
    position: absolute;
    left: 24%;
    top: -19%;
	opacity: 0;
}
*/
.indicator p::after {
    display: block;
    position: absolute;
    top: -56px;
    padding: 0 30%;
    margin: 0 -30%;
    color: white;
    text-shadow: none;
    border-radius: 6px;
    text-align: center;
    left: 28%;
	opacity: 0;
}

.indicator.guessed p {
	opacity: 0.2;
	transition: opacity ease-out 250ms;
}

.indicator.pressgood > p {
  color: #fff;
}

.indicator.pressgood > p::after {
	content: '!';
	background: limegreen;
	opacity: 1;
	color: #fff;
	animation-duration: 500ms;
	animation-fill-mode: forwards; 
	animation-name: ghost;
}

.indicator.pressbad > p{
	color: red;
}

.indicator.pressbad > p::after {
	content: 'x';
    background: #ff122b;
	color: #fff;
	opacity: 1;
	animation-duration: 500ms;
	animation-fill-mode: forward; 
	animation-name: ghost;
}

@keyframes ghost {
	from {
		opacity: 0;
		top: -56px;
	}
	20% {
		opacity: 1;
	}
	70% {
		opacity: 1;
	}
	to {
		opacity: 0;
		top: -76px;
	}
}

#letters {
  padding: 20pt 0;
  display: flex;
  float: left;
  margin: 0 auto;
  clear: both;
  width: 100%;
  justify-content: center;
}

#letters>li {
	border-top: #c8c5c5 1px solid;
	width: 70pt;
	min-height: 70pt;
	margin: 0 12pt;
	border-left: #c8c5c5 1px solid;
	border-bottom: white 1px solid;
	border-right: white 1px solid;
	box-shadow: inset 1px 1px 2px 2px #d4d4d4;
	background: #ededed;
}
.letter_holder {
    align-content: center;
    justify-content: center;
    display: flex;
}
.letter_holder.guessed {
    background: #fff;
    box-shadow: inset 0px 0px 26px -2px #eaeaea;
    border: white 1px solid;
    border-bottom: #dedede 1px solid;
    border-right: #dedede 1px solid;
}
.letter_holder p {
    margin: 20px;
	color: #9b9e98;
}
/*
#letters > li::before {
box-shadow: 0px 3px 6px -2px #63a205;
border: transparent 1px solid;
opacity: 0;
display: block;
width: 90px;
height: 90px;
content: "";
position: absolute;
}
*/
.won #letters > li::before,
.lost #letters > li::before {
	opacity: 1;
	transition: opacity ease-in 100ms 10ms;
}
.lost #letters > li::before {
	box-shadow: 0px 3px 6px -2px #a2053c;
}
.won .letter_holder {
	border: #b1ff00 1px solid;
	box-shadow: 0 0 14px 9px #f3ffd2;
	background: #c1ff73;
}
.lost .letter_holder {
	border: #ff5e80 1px solid;
	box-shadow: 0 0 14px 9px #ffd2d2;
	background: radial-gradient(#ff9c94, #fb6a6a);
	height: 100%;
}
.won .letter_holder p {
	color: #fff;
}
.lost .letter_holder p {
	color: #da4343;	
	text-shadow: 1px 1px 0px #ffa4a4;
}
#word {
  float: left;
  width: 100%;
}
#message-box p {
    margin: 0 auto;
    width: 50%;
    font-size: 0.4em;
    font-weight: 100;
    text-align: center;
    color: #898989;
}
#hangman {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
	background: #e6e6e6;
}

#score {
  float: left;
  margin: 0 0 0 62pt;
}

#guesses-left {
  float: right;
  margin: 0 64pt 0 0;
}

#alphabet {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal-mask {
	position: fixed;
	z-index: 9998;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(95, 108, 108, 0.16);
	display: table;
	transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
	width: 45%;
	width: -webkit-min-content;
	width: -moz-min-content;
	width: min-content;
	margin: 0px auto;
	padding: 46px 46px 5px 46px;
	background-color: #f9f9f9;
	border-radius: 2px;
	box-shadow: 0 2px 2px rgba(0, 0, 0, .33);
	transition: all .3s ease;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	font-size: 0.5em;
	position: relative;
}

.modal-header h3 {
    margin: 0 0 38px 0;
    color: #757575;
    font-weight: 100;
    letter-spacing: 6pt;
    text-shadow: 1px 1px 0px white;
}

button#continue {
    position: absolute;
    top: -12px;
    right: -11px;
    background: #f8f8f8;
    padding: 11px 15px 7px;
    font-weight: 100;
    font-size: 1em;
    color: #c2c2c2;
    border: 1px solid #cecece;
    box-shadow: 0px 2px 5px -1px;
    transition: all 100ms linear;
}

button#continue:hover {
    top: -14px;
    color: grey;
}

.modal-header p,
.modal-body p {
    font-size: 0.7em;
    margin: 0;
    color: #8a8a8a;
}
.modal-body {
  margin: 20px 0;
}
.modal-container ul {

    margin: 26px auto;
    padding: 0;

}
h4 {

    font-weight: 100;
    color: #b7b7b7;
    margin: 11px 0;

}
button.difficulty {
	width: 50%;
	border-top: 1px #cfcfcf solid;
	margin: 5px 0;
	background: radial-gradient(white,#eaeaea);
	color: #aeaeae;
	font-size: 0.7em;
	padding: 8px 0 7px;
	border-bottom: 1px white solid;
	border-right: 1px white solid;
	border-left: 1px #cfcfcf solid;
	box-shadow: inset 2px 2px 4px -1px #cccece;
}
button.difficulty:hover {
    border: 1px transparent solid;
    background: radial-gradient(#fff,#efefef);
    box-shadow: 0px 2px 4px -2px #3b3b3b;
    color: white;
}
#easy:hover {
  background: radial-gradient(#64fb64,#a9fca9);
}
#moderate:hover {
  background: radial-gradient(#f0d14d,#e6b643);
}
#hard:hover {
  background: radial-gradient(#fb8585,#fc5757);
}
#expert:hover {
  background: radial-gradient(#b45ab4,#6d2472);
}

#game-controls {
  border: 1px solid #d2d2d2;
  padding: 13px 0;
  position: relative;
}
#game-controls::after {
  content: 'CONTROLS';
  position: absolute;
  display: block;
  background: #f8f8f8;
  top: -7px;
  font-size: 0.5em;
  padding: 0px 5px;
  left: 6px;
  color: #bdbdbd;
}

#info {

    min-width: 290px;
    border-top: 1px #c6c6c6 solid;
    padding: 3px 0 0 0;

}
.fineprint {

    font-size: 0.45em;

}
.modal-default-button {
  float: right;
}

/* ===========================================================================
	Transitions
	========================================================================== */
.slide-enter-active {
	transition: all .25s ease-out;
}
.slide-leave-active {
	transition: all .25s ease-out;
}
.slide-enter, .slide-leave-to
/* .slide-fade-leave-active below version 2.1.8 */ {
	opacity: 0;
}
.slide-enter {
	transform: translateX(-100px);
}
.slide-leave-to {
	transform: translateX(10px);
}

/*
 * The following styles are auto-applied to elements with
 * transition="modal" when their visibility is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */
.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
